.Error404 {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Error404 img {
  height: 450px;
  width: 700px;
  align-content: center;
  /* margin-left: 240px; */
  image-rendering: optimizeQuality;
}

.Error404 h1 {
  padding: 10px;
  border-radius: 15px;
  font-size: 40px;
  font-family: monospace;
  color: firebrick;
  background-color: beige;
}
